h1 {
    font-family: 'Architects Daughter', cursive;
    font-size:5em;
}

html,
body{
    height:100%;
    margin:0;
    padding:0;
    font-family:"Trebuchet, MS",Verdana, sans-serif;
    font-size: 1.1em;
}

header {
    background-color: #ffffff;
    width: 100%;
    text-align:center;
    height:40px;
}

#paikkakartta {
    width:45%;
    float:left;
}

#hintataulukko {
    width:45%;
    float:left;
}

#hintaalue {
    display: flex;
    justify-content: center;
}

ul.nav {
    width: fit-content;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height:40px;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #cccccc;
}

.active {
    background-color: #999999;
}

img.round {
    border-radius: 50%;
}

#kuvat {
    width:100%;
    display: flex;
    justify-content: center;
}


section {
    height:100vh;
    padding-top:30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
#kalatori{
    background:lightblue;
}
#markkinat{
    background:lightgreen;
}
#hinnasto{
    background:lightsalmon;
}
#yhteys{
    background:lightgoldenrodyellow
}
#sijainti{
    background:lightslategray;
}
#top {
    display:none; /*Ei näy aluksi*/
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2em;
    border:none;
    outline:none;
    background-color:#0000ff;
    color: #ffffff;
    cursor:pointer;
    padding:15px;
    border-radius: 4px;
}
#top:hover {
    background-color:#555;
}