h1 {
    font-family: 'Architects Daughter', cursive;
    font-size:5em;
    text-shadow: 3px 3px 4px grey;
}

html,
body{
    height:100%;
    margin:0;
    padding:0;
    font-family:"Trebuchet, MS",Verdana, sans-serif;
    font-size: 1.1em;
    text-align:center;
}

header {
    background-color: #ffffff;
    width: 100%;
    text-align:center;
    height:40px;
}

#paikkakartta {
    width:45%;
    float:left;
}

ul.nav {
    width: fit-content;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height:60px;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: #cccccc;
}

.active {
    background-color: #999999;
}

section {
    height:50vh;
    padding-top:20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
#aukioloajat{
    background:rgb(167, 210, 224);
    text-align:center;
}
#varaus{
    background:rgb(87, 163, 87);
    text-align:center;
}
#hinnasto{
    background:rgb(219, 167, 146);
    text-align:center;
    height:20vh;
}
#yhteystiedot{
    background:rgb(49, 131, 212);
    text-align:center;
    height:25vh;
}
#sijainti{
    background:rgb(49, 131, 212);
    text-align:center;
    height:35vh;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

ul {
    list-style: square;
    list-style-position: inside;
}

#kuvat {
    display: flex;
    justify-content: center;
}