* {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [left] auto auto 4rem [right];
    grid-template-rows: 5rem 3rem auto 3rem;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "article canvas aside"
    "foot foot foot";
    text-align: center;
}

header {
    background: #333f50;
    grid-area: head;
    color: #ffffff;
    padding-top: auto;
}
nav {
    background: #9dc3e6;
    grid-area: nav;
}
article {
    background: #ffffff;
    grid-area: article;
    border-style: solid;
    border-color: #43739d;
    border-width: 1px;
}
.canvas {
    background: #ffffff;
    grid-area: canvas;
    height:auto;
    width: auto;
    padding-left: 10px;
}
aside {
    background: #deebf7;
    grid-area: aside;
}
footer {
    background: #5b9bd5;
    grid-area: foot;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
/*@media all and (max-width: 50rem) {
    .content {
        grid-column-end: left;
        display: none;
    }
    main {
        grid-column-start: right;
        display: none;
    }
    .content {
        grid-column-start: left;
        grid-column-end: right;
    }
}*/